*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  font-family: "Fira Sans", serif;
  background-color: #F5F5F5;
}

.container{
  width: 85%;
  margin: 0 auto;
}


/* Nav Section  */


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.nav_logo h2{
  font-size: 1.7rem;
}

.nav_btn button{
  background-color: none;
  border: 1px solid #006A50;
  color: #006A50;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  
}

.nav_btn button:hover{
  background-color: #006A50;
  color: white;
  transition: 0.2s all ease;
}


/* Hero Section  */

.hero_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C6E4D6;
  border-radius: 20px;
  margin-top: 30px;
  padding: 25px 0px ;


}
.hero_content{
  padding-left: 50px;
}
.hero_content p{
  color: #0E0E0E;
  font-size: 22px;
}

.hero_content h2{
  font-size: 2.9rem;
  margin-top: 5px;
}

.hero_btn button{
  padding: 15px 20px;
  background-color: #006A50;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 15px;
  cursor: pointer;

}

.hero_btn button:hover{
  background-color: #C6E4D6;
  color: #006A50;
  border: 1px solid #006A50;
  transition: 0.2s all ease;
}


/* Pillar Section  */
.pillars_section{
  margin-top: 70px;

}
.pillar_cards{
  display: flex;
  justify-content: space-between;
}
.common_heading h2{
  font-size: 2rem;
}

.common_card{
  text-align: start;
  width: 23%;
  background-color: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid rgb(216, 216, 216);

}

.pillar_card_content h5{
  margin-top: 5px;
  color: #242424;
}

.pillar_card_content p{
  font-size: 12px;
  color: #0E0E0E;
  opacity: 70%;
  text-align: left;
  margin-top: 10px;

}

/* Vision Section  */



.vision_section{
  margin-top: 70px;
}

.common_heading p{
  color: #0E0E0E;
  opacity: 70%;
  font-size: 12px;
  width: 90%;
  margin-top: 10px;
}



.vision_card{
  width: 32%;
  background-color: #d9e0ee;
  border: none;
}
.v_card_color_2{
  background-color: #C6E4D6;
}
.v_card_color_3{
  background-color: #F7EBCF;
}
.vision_cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vision_card_btn button{
  padding: 8px 15px;
  color: white;
  border: none;
  background-color: #5490F5;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;

}


.v_card_btn_2 button{
  background-color: #09A15C;
}
.v_card_btn_3 button{
  background-color: #FFC239;
}

.v_card_btn_1 button:hover{
  background-color: #497dd6;
  transition: 0.2s all ease;
}

.v_card_btn_2 button:hover{
  background-color: #06864d;
  transition: 0.2s all ease;
}
.v_card_btn_3 button:hover{
  background-color: #e6af2f;
  transition: 0.2s all ease;
}



/* Quote Section  */


.quote_section{
  background-color: white;
  margin-top: 30px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
}

.quote_content{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.quote_content{
  padding-top: 40px;
}
.quote_content p{
  font-size: 14px;
  color: #242424;
  opacity: 80%;
}

.quote_content h5{
  margin-top: 5px;
  opacity: 80%;
}
.quote_content small{
  color: #242424;
}


/* Opinion Section  */


.opinion_section{
  margin-top: 70px;

}

.opinion_content{
  margin-top: 40px;
  background-color: white;
  padding: 20px;


}
.border_none{
  border-left: none;
}


tr>th{
  text-align: left;
}
.table_heading{
  background-color: #C6E4D6;
  
}

table{
  padding: 20px 0px;
  border: 1px solid rgb(202, 202, 202);
  border-collapse: collapse;
  width: 100%;
}
td, th{
  border: 1px solid rgb(202, 202, 202);
  border-collapse: collapse;
  padding: 15px;
}
td{
  font-size: 12px;
  font-weight: bold;
}



.opinion_section select{
  background-color: #C6E4D6;
  padding: 10px;
  width: 80%;
}

.opinion_section .select{
  display: flex;
  justify-content: center;
}


/* News Section  */


.news_section{
  margin-top: 70px;
}

.news_contents{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding: 25px;
}

.news_image{
  width: 45%;
}
.news_image img{
  border-radius: 15px;
}
.news_content{
  width: 55%;
}

.news_content h2{
  color: #0E0E0E;
  opacity: 80%;
}

.time{
  font-size: small;
  margin-top: 10px;
  color: #242424;
}
.news_content p{
  font-size: 14px;
  color: #242424;
  margin-top: 10px;
  opacity: 80%;
  width: 90%;
}

.news_btn button{
  background-color: #006A50;
  padding: 10px 20px;
}

.news_btn button:hover{
  background-color: #00523d;
}

.second_news_content{
  flex-direction: row-reverse;
}









@media screen and (max-width: 740px){
  nav{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .hero_section{
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    gap: 20px;


  }
  .hero_image img{
    width: 90%;
  }
  .hero_content{
    padding-left: 10px;
  }
  .hero_content h2{
    font-size: 1.6rem;
  }
  .hero_content p{
    font-size: 16px;
  }
  .hero_image{
    width: 90%;
  }
  .pillar_cards, .vision_cards{
    flex-direction: column;
  }
  .common_card{
    width: 100%;
    
  }
.opinion_section select{
     font-size: 12px;
}

.news_section{
  width: 85%;
}

.news_contents{
  flex-direction: column;
  padding: 20px;
}

.news_image img{
  width: 90%;
}
.news_image{
  width: 100%;
}
.news_content{
  width: 100%;
}
.news_content h2{
  margin-top: 20px;
}
}